/*centreren van de video en de tekst*/
body{
    background-color: black;
    position: absolute;
    margin: auto;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 3s;
}

/* **********************************************
Basic mechanics
Hide all paragraphs by default
Show them when they receive the class 'on'
Hide them when they receive the class 'off'
Feel free to adjust the defaults to your needs.
********************************************** */

/*Wanneer laat ik de tekst zien*/
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/*Stemmen onderscheiden qua kleur, fonts en stijl*/
.voice1{
	font-style: bold;
    font-family: "brenner mono";
    font-size: 1.6em;
    color: white;
}

.voice2{
    font-family: "brenner sans";
    font-size: 1.6em;
    color: white;
}

.voice3{
    font-family: "brenner slab";
    font-style: bold;
    font-size: 2em;
    color: white;
}


.voice4{
    font-family: "brenner condensed";
    font-size: 1.6em;
    color: white;
}

/*Voor onderscheid wie er spreekt*/
.voice1::before {
    content: "Computer: ";
	font-style: italic;
    font-family: "brenner mono";
    color: dodgerblue;
}

.voice2::before {
    content: "Officer KD6-3.7.: ";
    font-style: italic;
    font-family: "brenner sans";
    color: yellow;
}

.voice3::before {
    content: "An other officer: ";
    font-style: italic;
    font-family: "brenner serif";
    color: green;
}

.voice4::before {
    content: "Random person: ";
    font-style: italic;
    font-family: "brenner serif";
    color: mediumpurple;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: brenner;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 400;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 600;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 800;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner sans";
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner display";
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	font-family: "brenner Sans condensed";
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	font-family: "brenner mono";
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	font-family: "brenner slab";
}

/*scherm laten trillen bij alarm geluid*/
/*Bron: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/
.sound1 iframe {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(20px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

/*scherm rood laten worden bij alarm geluid */
.sound1 {
    background: black;
    animation: shake2 1s;
}

@keyframes shake2 {
    from{
        background-color: black;
    }
    
    to{
        background-color: darkred;
    }
}

.sound2 {
    background: black;
    animation: rood 1s;
}

@keyframes rood {
    from {
        background-color: black;
    }
    to {
        background-color: red;
    }
}

/*scan achtergrond 3x voor hetzelfde geluid*/
.sound4 {
    background: black;
    animation: scan 1s;
}

@keyframes scan {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

.sound6 {
    background: black;
    animation: scan1 1s;
}

@keyframes scan1 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

.sound8 {
    background: black;
    animation: scan2 1s;
}

@keyframes scan2 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

/*scherm laten inzoomen*/
.sound9 iframe {
    animation: groter 40s linear both;
}

@keyframes groter  {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}