/*Achtergrond kleur*/
body{
    background-color: black;
}

/*Centreren van de video en de tekst*/
iframe {
   transition: 1s;
    margin-left: 400px;
    margin-top: 200px;
}

/*Border om geluidbeschrijving*/
.geluid1, .geluid2, .geluid3, .geluid4, .geluid5, .geluid6, .geluid7, .geluid8, .geluid9, .geluid10 {
    background: black;
    padding: 10px;
}

/*Wanneer laat ik de tekst zien*/
#closed-captions p {
	opacity: 0;
	transition: .05s;
	position: absolute;
    text-align: center;
    width: 98%;
    background: black;
    padding: 10px;
}

#closed-captions .on {
	opacity: 1;
}

#closed-captions .off {
	transition: .2s;
	opacity: 0;
}

/*Stemmen onderscheiden qua kleur, fonts en stijl*/
.voice1{
	font-style: bold;
    font-family: "brenner mono";
    font-size: 1.6em;
    color: white;
}

.voice2{
    font-family: "brenner sans";
    font-size: 1.6em;
    color: white;
}

.voice3{
    font-family: "brenner slab";
    font-style: bold;
    font-size: 1em;
    color: white;
}


.voice4{
    font-family: "brenner condensed";
    font-size: 1.6em;
    color: white;
}

/*Voor onderscheid wie er spreekt*/
.voice1::before {
    content: "Computer: ";
	font-style: italic;
    font-family: "brenner mono";
    color: dodgerblue;
}

.voice2::before {
    content: "Officer KD6-3.7.: ";
    font-style: italic;
    font-family: "brenner sans";
    color: yellow;
}

.voice3::before {
    content: "An other officer: ";
    font-style: italic;
    font-family: "brenner serif";
    color: green;
}

.voice4::before {
    content: "Random person: ";
    font-style: italic;
    font-family: "brenner serif";
    color: mediumpurple;
}

/* **********************************************
The first paragraph, with extended timing for 
	all siblings. Basically what it does is that
	it shows the text after a delay, which 
	corresponds with the time that the word is
	spoken.
You probably want to change the styling.
********************************************** */
.p0 span {
	opacity: 0;
	font-family: brenner;
}

.p0.on span:nth-of-type(2) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 400;
}

.p0.on span:nth-of-type(3) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 600;
}

.p0.on span:nth-of-type(4) {
	opacity: 1;
	margin-right: -.25em;
	font-weight: 800;
}

.p0.on span:nth-of-type(5) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner sans";
}

.p0.on span:nth-of-type(6) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner display";
}

.p0.on span:nth-of-type(7) {
	opacity: 1;
	margin-right: -.25em;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(8) {
	opacity: 1;
	font-family: "brenner script";
}

.p0.on span:nth-of-type(9) {
	opacity: 1;
	font-family: "brenner Sans condensed";
}

.p0.on span:nth-of-type(10) {
	opacity: 1;
	font-family: "brenner mono";
}

.p0.on span:nth-of-type(11) {
	opacity: 1;
	font-family: "brenner slab";
}

/*scherm laten trillen bij alarm geluid*/
/*Bron: https://css-tricks.com/snippets/css/shake-css-keyframe-animation/*/
.sound1 iframe {
	animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
	transform: translate3d(0, 0, 0);
}

@keyframes shake {
  10%, 90% {
    transform: translate3d(-20px, 0, 0);
  }

  20%, 80% {
    transform: translate3d(20px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-10px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(10px, 0, 0);
  }
}

/*Soorten sounds aangeven*/
.geluid1 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 23%;
    color: white;
    font-size: 1.2em;
}
.sound1 .geluid1{
    opacity: 1;
}
.sound2 .geluid1{
    opacity: 0;
}

.geluid2 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 23%;
    color: white;
    font-size: 1.2em;
}
.sound2 .geluid2{
    opacity: 1;
}
.sound3 .geluid2{
    opacity: 0;
}

.geluid3 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 23%;
    color: white;
    font-size: 1.2em;
}
.sound4 .geluid3{
    opacity: 1;
}
.sound5 .geluid3{
    opacity: 0;
}

.geluid4 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 23%;
    color: white;
    font-size: 1.2em;
}
.sound6 .geluid4{
    opacity: 1;
}
.sound7 .geluid4{
    opacity: 0;
}

.geluid5 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 23%;
    color: white;
    font-size: 1.2em;
}
.sound8 .geluid5{
    opacity: 1;
}
.sound9 .geluid5{
    opacity: 0;
}

.geluid6 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 15%;
    color: white;
    font-size: 1.2em;
}
.sound9 .geluid6{
    opacity: 1;
}
.sound10 .geluid6{
    opacity: 0;
    color: black;
}

.geluid7 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 15%;
    color: white;
    font-size: 1.2em;
}
.sound10 .geluid7{
    opacity: 1;
}
.sound11 .geluid7{
    opacity: 0;
}

.geluid8 {
    opacity: 0;
    position: absolute;
    left: 45%;
    top: 15%;
    color: white;
    font-size: 1.2em;
}
.sound12 .geluid8{
    opacity: 1;
}
.sound13 .geluid8{
    opacity: 0;
}


/*scherm rood laten worden bij alarm geluid */
.sound1 {
    background: black;
    animation: shake2 1s;
}

@keyframes shake2 {
    from{
        background-color: black;
    }
    
    to{
        background-color: darkred;
    }
}

.sound2 {
    background: black;
    animation: rood 1s;
}

@keyframes rood {
    from {
        background-color: black;
    }
    to {
        background-color: red;
    }
}

/*scan achtergrond 3x voor hetzelfde geluid*/
.sound4 {
    background: black;
    animation: scan 1s;
}

@keyframes scan {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

.sound6 {
    background: black;
    animation: scan1 1s;
}

@keyframes scan1 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

.sound8 {
    background: black;
    animation: scan2 1s;
}

@keyframes scan2 {
    from {
        background-color: black;
    }
    to {
        background-image: url(../images/giphy5.gif);
    }
}

/*scherm laten inzoomen*/
/*Bron: https://css-tricks.com/css-animation-libraries/*/
.sound9 iframe {
    animation: groter 40s linear both;
}

@keyframes groter  {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.3);
    }
}

/*Achtergrond rondje inzoomen*/
.sound9 .rondje {
opacity: 0;
width: 1em;
height: 1em;
border-radius: 50%;
background: blue;
position: absolute;
left: 50%;
top: 50%;
animation: rond 42s linear;
border: darkblue;
}
 
@keyframes rond {
    0% {
        opacity: 0.25;
        transform: scale(0);
        background-color: black;
    }
    15% {
        opacity: 0.5;
        transform: scale(20);
        background-color: purple;
    }
    30% {
        opacity: 0.75;
        transform: scale(40);
        background-color: blue;
    }
    45% {
        opacity: 1;
        transform: scale(60);
        background-color: green;
    }
    60% {
        opacity: 1.25;
        transform: scale(80);
        background-color: yellow;
    }
    75% {
        opacity: 1.5;
        transform: scale(100);
        background-color: orange;
    }
    90% {
        opacity: 2;
        transform: scale(120);
        background-color: red;
    }
    100% {
        opacity: 0;
        transform: scale(150);
        background-color: red;
    }
}

/*Spanning*/
.sound10 {
    animation: kleur 1s linear;
    background-color: black;
}

  @keyframes kleur {
      10%{
          background-color: yellow;
      }
      40% {
          background-color: red;
      }
      80% {
          background-color: orange;
      }
}

/*
.sound3 iframe {
    animation: bounce 1s linear;
}
 
@keyframes bounce {
    20%,50%,80%, to
    {
       transform: translateY(0);
    }
    30%{
        transform: translateY(-110px);
    }
    65%{
        transform: translateY(-45px);
    }
    85%{
        transform: translateY(-10px);
    }
}
*/

/*Tweede stuk*/
.sound10 .rondje2 {
opacity: 0;
width: 1em;
height: 1em;
border-radius: 50%;
background: blue;
position: absolute;
left: 50%;
top: 50%;
animation: rond2 42s linear;
border: darkblue;
}
 
@keyframes rond2 {
    0% {
        opacity: 0;
        transform: scale(0);
        background-color: black;
    }
    15% {
        opacity: 1;
        transform: scale(120);
        background-color: purple;
    }
    30% {
        opacity: 1;
        transform: scale(80);
        background-color: blue;
    }
    45% {
        opacity: 1;
        transform: scale(60);
        background-color: green;
    }
    60% {
        opacity: 1.25;
        transform: scale(80);
        background-color: yellow;
    }
    75% {
        opacity: 1.5;
        transform: scale(100);
        background-color: orange;
    }
    90% {
        opacity: 2;
        transform: scale(120);
        background-color: red;
    }
    100% {
        opacity: 0;
        transform: scale(150);
        background-color: red;
    }
}